$heading-1: 400 32px/47px $font-family-1;
$heading-1-lg: 400 36px/47px $font-family-1;

$heading-2: 400 32px/40px $font-family-1;

$leading: 400 18px/32px $font-family-2;

$card-title: 700 24px/30px $font-family-1;
$card-body: 400 18px/30px $font-family-2;

$input-text: 400 18px/22px $font-family-2;

$button: 700 20px/24px $font-family-2;