$font-family-1: 'Merriweather', serif; 
$font-family-2: 'Lato', sans-serif;

$container-max-width: 374px;
$container-max-width-lg: 1240px;
$container-max-width-xl: 1440px;

$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;